.buttons-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
}

button {
    cursor: pointer;
    margin: 24px;
    padding: 16px;

    color: white;
    background: rgb(44, 44, 44);
    border: none;
    border-radius: 4px;

    transition: opacity 0.4s, background-color 0.4s;
}

button:hover {
    background: rgb(57, 57, 57);
}