* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.buttons-container {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
}

button {
  padding: 16px;
}

.canvas-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#canvas {
  height: 100%;
  display: block;
}